/*
 * Moviate Website
 *
 * The Styles
 */
.box, .main__content, .main__title, .main__hero, .article__header {
  position: relative;
}
.box::after, .main__content::after, .main__title::after, .main__hero::after, .article__header::after {
  bottom: 0;
  box-shadow: 0 12px 24px -12px rgba(13, 13, 12, 0.125);
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

:root {
  --color-highlight: hsl(30deg, 90%, 55%);
  --color-primary: hsl(30deg, 2%, 5%);
  --color-secondary: hsl(30deg, 2%, 50%);
  --color-background: hsl(30deg, 2%, 95%);
  --color-background--transparent: transparentize(hsl(30deg, 2%, 95%), 0.5);
  --color-background--light: hsl(30deg, 2%, 100%);
  --color-text: hsl(30deg, 2%, 5%);
  --color-text--blazed: hsl(30deg, 2%, 15%);
  --color-text--highlighted: hsl(30deg, 2%, 5%);
  --color-text--muted: hsl(30deg, 2%, 50%);
  --color-text--error: hsl(348deg, 75%, 55%);
  --color-border: hsl(30deg, 2%, 85%);
  --color-box-shadow: transparentize(hsl(30deg, 2%, 0%), 0.5);
}

:root {
  --layout-column-count: $layout-column-count;
}

/* Roboto Slab Medium */
@font-face {
  font-family: "Roboto Slab";
  src: url("../lib/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Roboto Slab Regular */
@font-face {
  font-family: "Roboto Slab";
  src: url("../lib/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Roboto Slab Light */
@font-face {
  font-family: "Roboto Slab";
  src: url("../lib/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
html {
  background-color: var(--color-background);
  font-size: 1em;
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
}

a,
.link {
  color: var(--color-text--blazed);
  text-decoration-thickness: 0.5px;
  text-underline-color: var(--color-text--blazed);
  text-underline-offset: 0.2em;
}
a:hover,
.link:hover {
  color: var(--color-text--highlighted);
  text-decoration-thickness: 1px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}
.icon--small {
  display: block;
  height: 16px;
  width: 16px;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 4vw;
  min-height: calc(100vh - 8vw);
  position: relative;
  z-index: 1;
}
.article__header {
  align-items: flex-end;
  background-color: var(--color-background--light);
  color: var(--color-text--blazed);
  display: flex;
  flex-grow: 0;
  gap: 1px;
  justify-content: space-between;
  position: relative;
}
.article__container {
  display: flex;
  flex-grow: 1;
  gap: 1px;
  margin-top: 1px;
}
.article__footer {
  margin-top: 2vw;
}

.header {
  flex-basis: calc((92vw - 13px) * 3 + 2px);
  padding: 4vw 2vw;
}
.header__logo {
  transform: translateY(-2em);
}
.header__link {
  display: block;
  height: 1em;
  overflow: visible;
  position: relative;
}
.header__title {
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
}
.header__title em {
  color: var(--color-text--highlighted);
  display: inline-block;
  margin-left: -0.05em;
  margin-right: -0.35em;
}
.header__title em::after {
  content: "*";
  display: inline-block;
  transform: translate(-0.1em, -0.2em);
}

.navigation {
  flex-basis: calc((92vw - 13px) * 9 + 8px);
  padding: 4vw 2vw;
}
.navigation__item--current {
  color: var(--color-highlight);
}
.navigation__items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__link {
  color: inherit;
  padding: 2vw;
  text-decoration: none;
}
.navigation__link:hover {
  text-decoration: underline;
  text-underline-offset: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  flex-basis: calc((92vw - 13px) * 9 + 8px);
  gap: 1px;
  order: 2;
}
.main__hero {
  background-color: var(--color-background--light);
  position: relative;
}
.main__hero img {
  display: block;
  max-width: 100%;
}
.main__title {
  background-color: var(--color-background--light);
  padding: 2vw;
}
.main__content {
  background-color: var(--color-background--light);
  padding: 2vw;
}

.aside {
  display: flex;
  flex-basis: calc((92vw - 13px) * 3 + 2px);
  flex-direction: column;
  gap: 1px;
  justify-content: flex-end;
  order: 1;
}

.footer {
  color: var(--color-text--muted);
  display: flex;
  font-size: 0.75rem;
  justify-content: space-between;
}
.footer__copyright {
  margin: 0;
}
.footer__items {
  display: flex;
  list-style: none;
  margin: 0 -1vw 0 0;
  padding: 0;
}
.footer__link {
  color: inherit;
  margin: -1vw 0;
  padding: 1vw;
}

.box {
  background-color: var(--color-background--light);
  font-size: 0.75rem;
  padding: 2vw;
}
.box__title {
  margin: 0;
}

.description {
  display: grid;
  gap: 1vw;
  grid-template-columns: 2fr 3fr;
  margin: 1vw 0;
}
.description__value {
  margin-left: 0;
}

/*# sourceMappingURL=style.css.map */
