//
// Moviate Website
//
// Styles for BOX
//


.box {
	@extend %shadow;
	background-color: var(--color-background--light);
	font-size: $font-size-small;
	padding: $padding;

	&__title {
		margin: 0;
	}
}
