//
// Moviate Website
//
// Load Web Fonts
//


// Local variable
$path: '../lib/fonts/Roboto_Slab/static';


//@charset "UTF-8";

/* Roboto Slab Medium */
@font-face {
	font-family: 'Roboto Slab';
	src: url('#{$path}/RobotoSlab-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* Roboto Slab Regular */
@font-face {
	font-family: 'Roboto Slab';
	src: url('#{$path}/RobotoSlab-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

/* Roboto Slab Light */
@font-face {
	font-family: 'Roboto Slab';
	src: url('#{$path}/RobotoSlab-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
