//
// Moviate Website
//
// General Styles
//


html {
	background-color: var(--color-background);
	font-size: 1em;

	@media (min-width: $breakpoint) {
		font-size: $font-size-root;
	}
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: inherit;
	font-weight: $font-weight-normal;
	line-height: $line-height;
	margin: 0;
}

a,
.link {
	color: var(--color-text--blazed);

	&:hover {
		color: var(--color-text--highlighted);
	}
}
