//
// Moviate Website
//
// Styles for HEADER
//


.header {


	// Logo

	&__logo {

	}

	&__link {

	}

	&__title {
		font-size: $font-size-display;
		font-weight: $font-weight-normal;
		margin: 0;

		em {
			color: var(--color-text--highlighted);
			display: inline-block;
			margin-left: -0.05em;
			margin-right: -0.35em;

			&::after {
				content: '*';
				display: inline-block;
				transform: translate(-0.1em, -0.2em);
			}
		}
	}
}
