//
// Moviate Website
//
// Styles for HEADER
//


.header {
	flex-basis: calc(($grid-column-width * 3) + ($grid-gap * 2));
	padding: $padding--large $padding;

	&__logo {
		transform: translateY(-2em);
		//width: 100%;
	}

	&__link {
		display: block;
		height: 1em;
		overflow: visible;
		position: relative;
	}

	&__title {
		font-size: $font-size-display;
		font-weight: $font-weight-normal;
		margin: 0;

		em {
			color: var(--color-text--highlighted);
			display: inline-block;
			margin-left: -0.05em;
			margin-right: -0.35em;

			&::after {
				content: '*';
				display: inline-block;
				transform: translate(-0.1em, -0.2em);
			}
		}
	}
}
