//
// Moviate Website
//
// Styles for PAGE
//


.page {


	// Header

	&__header {
		align-items: flex-end;
		background-color: var(--color-background--light);
		border-bottom: $border-width solid var(--color-border);
		color: var(--color-text--blazed);
		display: flex;
		flex-grow: 0;
		justify-content: space-between;
		padding-bottom: $padding;
		padding-left: $grid-gap;
		padding-right: $grid-gap;
		padding-top: $padding;
	}
}
