/*
 * Moviate Website
 *
 * The Styles
 */


// Setup SASS
@use 'sass:color';
@use "sass:math";

// Custom Overrides
@import 'variable--custom';

@import 'variable';

@import '_placeholder/shadow';

@import '_config/color';
@import '_config/layout';

@import 'font';
@import 'general';
@import 'typography';
@import 'icon';

@import 'article';
@import 'header';
@import 'navigation';
@import 'main';
@import 'aside';
@import 'footer';

@import 'box';
@import 'definition';
